<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body class="trx">
    
    <%- body %>

    <script defer src="models/face-api.js"></script>
    <script defer src="js/script.js"></script>
</body>
</html>