<div class="card">
    <div class="card-body">
        <form id="frmMenu" method="post" action="/data-karyawan/<%= id %>" enctype="multipart/form-data"> 
            <div class="mb-3">
                <label for="nama_karyawan" class="form-label">Nama Karyawan</label>
                <input type="text" class="form-control" id="nama_karyawan" name="nama_karyawan" required>
            </div>
            <div class="mb-3">
                <label for="tanggal_mulai" class="form-label">Tanggal Mulai</label>
                <input type="date" class="form-control" id="tanggal_mulai" name="tanggal_mulai" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role/Group</label>
                <select class="form-control" id="role" name="role" required>
                    <option value="" selected disabled>pilih Role/Group</option>
                    <% if( typeof kategori !== 'undefined') { %>
                        <% kategori.forEach(function(item){ %>
                            <option value="<%= item.id %>"><%= item.nama_kategori %></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="foto" class="form-label">Gambar</label>
                <input type="file" class="form-control" id="foto" name="foto" accept="image/gif, image/jpeg, image/png" onchange="loadFile(event)">
                <img id="output" width="200" class="img-fluid mt-4" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="/data-karyawan" class="btn btn-outline-secondary">Batal</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

    window.addEventListener("DOMContentLoaded", function () {
        var id = "<%= id %>";
        if(id){
            //document.getElementById("frmMenu").setAttribute("act", "put")
            $.ajax({
                url: "/api/menu/"+id,
                type: "get",
                //data: {'id': data.id},
                success: function (d) {
                    const {data} = d
                    document.getElementById("nama_produk").value = data.nama_produk    
                    document.getElementById("kategori").value = data.kategori    
                    document.getElementById("harga").value = data.harga    
                    document.getElementById("output").src = '/uploads/menu/'+data.gambar 
                }
            });
        }
    });
     
    function search(dt, el) {
        if (dt.search() !== el.value) {
            dt.search(el.value).draw();
        }
    }
</script>