<div class="content">
    <div class="section">
        <button class="btn-add">
            <i class="fas fa-plus">
            </i>
            ADD NEW
        </button>
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" />
                    </th>
                    <th>
                        id pelanggan
                        <i class="fas fa-sort">
                        </i>
                    </th>
                    <th>
                        nama pelanggan
                    </th>
                    <th>
                        Foto Pelanggan
                    </th>
                    <th>
                        tgl kunjungan
                    </th>
                    <th>
                        klasifikasi
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        id pelanggan
                    </td>
                    <td>
                        nama pelanggan
                    </td>
                    <td>
                        <img alt="Customer photo" height="40" src="https://storage.googleapis.com/a1aa/image/dYADPMLldA52G1h69xVmPekqLfcXrcxYcpH5202KmgryPj6TA.jpg" width="40" />
                    </td>
                    <td>
                        XXXX
                    </td>
                    <td>
                        sangat loyal
                    </td>
                    <td>
                        <button class="btn btn-edit">
                            <i class="fas fa-edit">
                            </i>
                        </button>
                        <button class="btn btn-delete">
                            <i class="fas fa-trash">
                            </i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        id pelanggan
                    </td>
                    <td>
                        nama pelanggan
                    </td>
                    <td>
                        <img alt="Customer photo" height="40" src="https://storage.googleapis.com/a1aa/image/dYADPMLldA52G1h69xVmPekqLfcXrcxYcpH5202KmgryPj6TA.jpg" width="40" />
                    </td>
                    <td>
                        XXXX
                    </td>
                    <td>
                        loyal
                    </td>
                    <td>
                        <button class="btn btn-edit">
                            <i class="fas fa-edit">
                            </i>
                        </button>
                        <button class="btn btn-delete">
                            <i class="fas fa-trash">
                            </i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        id pelanggan
                    </td>
                    <td>
                        nama pelanggan
                    </td>
                    <td>
                        <img alt="Customer photo" height="40" src="https://storage.googleapis.com/a1aa/image/dYADPMLldA52G1h69xVmPekqLfcXrcxYcpH5202KmgryPj6TA.jpg" width="40" />
                    </td>
                    <td>
                        XXXX
                    </td>
                    <td>
                        tetap
                    </td>
                    <td>
                        <button class="btn btn-edit">
                            <i class="fas fa-edit">
                            </i>
                        </button>
                        <button class="btn btn-delete">
                            <i class="fas fa-trash">
                            </i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        id pelanggan
                    </td>
                    <td>
                        nama pelanggan
                    </td>
                    <td>
                        <img alt="Customer photo" height="40" src="https://storage.googleapis.com/a1aa/image/dYADPMLldA52G1h69xVmPekqLfcXrcxYcpH5202KmgryPj6TA.jpg" width="40" />
                    </td>
                    <td>
                        XXXX
                    </td>
                    <td>
                        baru
                    </td>
                    <td>
                        <button class="btn btn-edit">
                            <i class="fas fa-edit">
                            </i>
                        </button>
                        <button class="btn btn-delete">
                            <i class="fas fa-trash">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="info">
                Showing 1 to 10 of 50 entries
            </div>
            <div class="controls">
                <select>
                    <option value="10">
                        10
                    </option>
                    <option value="25">
                        25
                    </option>
                    <option value="50">
                        50
                    </option>
                    <option value="100">
                        100
                    </option>
                </select>
                <div class="pages">
                    <button>
                        1
                    </button>
                    <button class="active">
                        2
                    </button>
                    <button>
                        3
                    </button>
                    <button>
                        4
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>