<div class="stats">
    <div class="stat">
        <i class="fas fa-user fa-2x"></i>
        <h2>120</h2>
        <p>Total Pelanggan</p>
    </div>
    <div class="stat">
        <i class="fas fa-receipt fa-2x"></i>
        <h2>10.000.000</h2>
        <p>Total Transaksi</p>
    </div>
    <div class="stat">
        <i class="fas fa-bookmark fa-2x"></i>
        <h2>20</h2>
        <p>Total Menu</p>
    </div>
</div>