
<div class="form-signin">
	<h2 class="text-light text-center mb-3">masuk sini</h2>
  	<form method="post" action="/login" class="mt-5"> 
  		<div class="mb-3">
		  	<label for="username" class="form-label text-light">nama pengguna</label>
		  	<input type="text" class="form-control" id="username" name="username" placeholder="ketik nama pengguna mu...">
		</div>
		<div class="mb-3">
		  	<label for="password" class="form-label text-light">nama pengguna</label>
		  	<input type="password" class="form-control" id="password" name="password" placeholder="ketik kata sandi mu...">
		</div>
		<div class="pt-3">
    		<button class="btn btn-light w-100 py-2" type="submit">sile masuk</button>
    	</div>
  	</form>
</div>