<div class="sidebari">
    	<video id="video" autoplay width="100%" ></video>
    	<canvas id="overlayCanvas"></canvas>

	    <form id="registrationForm" action="/upload" method="post">
	        <label for="idfoto">ID Foto:</label>
	        <input type="text" id="idfoto" name="idfoto" required>
	            
	        <label for="nama">Nama:</label>
	        <input type="text" id="nama" name="nama" required>
	            
	        <label for="jabatan">Jabatan:</label>
	        <input type="text" id="jabatan" name="jabatan" required>
	            
	        <input type="hidden" id="photoData" name="photoData">
	            
	        <button type="button" id="captureButton">Capture Photo</button>
	        <button type="submit">Submit</button>
	    </form>
  	</div>
  	<div class="contenti">
        <div class="cardi">
            <img src="img/cake1.png" alt="Cappuccino">
            <h3>Cappuccino</h3>
            <p>Rp. 20,000</p>
            <button>Order Now</button>
        </div>
        <div class="cardi">
            <img src="img/cake2.png" alt="Chai Latte">
            <h3>Chai Latte</h3>
            <p>Rp. 22,000</p>
            <button>Order Now</button>
        </div>
        <div class="cardi">
            <img src="img/cake3.png" alt="Macchiato">
            <h3>Macchiato</h3>
            <p>Rp. 20,000</p>
            <button>Order Now</button>
        </div>
        <div class="cardi">
            <img src="img/cake4.png" alt="Cappuccino">
            <h3>Cappuccino</h3>
            <p>Rp. 20,000</p>
            <button>Order Now</button>
        </div>
        <div class="cardi">
            <img src="img/cake5.png" alt="Chai Latte">
            <h3>Chai Latte</h3>
            <p>Rp. 22,000</p>
            <button>Order Now</button>
        </div>
        <div class="cardi">
            <img src="img/cake6.png" alt="Macchiato">
            <h3>Macchiato</h3>
            <p>Rp. 20,000</p>
            <button>Order Now</button>
        </div>
        <div class="cardi">
            <img src="img/cake7.png" alt="Cappuccino">
            <h3>Cappuccino</h3>
            <p>Rp. 20,000</p>
            <button>Order Now</button>
        </div>
        <div class="cardi">
            <img src="img/cake8.png" alt="Chai Latte">
            <h3>Chai Latte</h3>
            <p>Rp. 22,000</p>
            <button>Order Now</button>
        </div>
    </div>