<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label for="priode" class="form-label">Priode Data</label>
            <div class="input-group">
                <input type="date" class="form-control" id="awal" name="awal" required>
                <span class="input-group-text">s.d</span>
                <input type="date" class="form-control" id="akhir" name="akhir" required>
                <button class="btn btn-primary" onclick="seachData()">Cari</button>
            </div>
        </div>
        <div class="card card-body mb-3">
            <table class="table small" id="myTable">
                <thead>
                    <tr>
                        <th>Nama Pelanggan</th>
                        <th>Total Kunjungan</th>
                        <th>Total Pembelian</th>
                        <th>Kategori</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary" onclick="simpanData()">Simpan</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var datafromtable = [];
    window.addEventListener("DOMContentLoaded", function () {
        var sekarang = new Date()
        document.getElementById('awal').valueAsDate = sekarang;
        document.getElementById('akhir').valueAsDate = sekarang;
        
        seachData()
    });

    function seachData(){
        var awal = document.getElementById('awal').value;
        var akhir = document.getElementById('akhir').value;
        

        let table = new DataTable('#myTable', {
            destroy: true,
            ajax: {
                url: '/api/kunjungan',
                type: 'POST',
                data: {
                    'awal': awal,
                    'akhir': akhir,
                },
            },
            initComplete: function(settings, json) {
                // Here i want to populate the child rows
                // without showing the child rows, using data
                // output from the above ajax function
                // This returns nuthin (empty array):
                //alert(json.data);
                //console.log(json.data);
                datafromtable = json.data
            },
            order: [[1, 'desc']],
            columns: [
                { data: 'nama_pelanggan' },
                { data: 'total_kunjungan' },
                { data: 'total_transaksi' },
                { data: 'kategori' },
            ]
        });
    }

    function simpanData() {
        console.log(datafromtable)

        if(datafromtable.length > 0){
            $.ajax({
                url: "/api/simpan-klasifikasi",
                type: "post",
                data: {data: datafromtable},
                success: function (d) {
                    Swal.fire({
                        title: 'Success!',
                        text: 'Data Berhasil disimpan',
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                }
            });
        }else{
            Swal.fire({
                title: 'Error!',
                text: 'Data tidak tersedia',
                icon: 'error',
                confirmButtonText: 'Ok'
            })
        }
    }
</script>