<div class="card border-0 shadow">
    <div class="card-body">
        <div class="d-flex mb-4">
            <a class="btn btn-sm btn-primary" href="/cari-pelanggan-loyalitas">
                <i class="fas fa-search"></i> Cari Data Pelanggan
            </a>
        </div>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Klasifikasi</th>
                    <th>Periode</th>
                    <th>Diskon</th>
                    <th>Keterangan</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function () {
        let table = new DataTable('#myTable', {
            ajax: {
                url: '/api/loyalitas',
                contentType: 'application/json',
                type: 'GET',
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            columns: [
                {
                    data: null,
                    defaultContent: '<input type="checkbox" />'
                },
                { data: 'klasifikasi' },
                { 
                    data: null,
                    render: function (data, type, row, meta) {
                        var priode_awal = "";
                        var priode_akhir= "";
                        if(data.priode_awal != null){
                            priode_awal = (new Date(data.priode_awal).toJSON().slice(0,10).split('-').reverse().join('-'))
                        }
                        if (data.priode_akhir != null){
                            var priode_akhir = (new Date(data.priode_akhir).toJSON().slice(0,10).split('-').reverse().join('-'))
                        }
                        return priode_awal +" s/d "+ priode_akhir;
                    }
                },
                { 
                    data: null,
                    render: function (data, type, row, meta) {
                        return data.diskon +"%";
                    }
                },
                { data: 'keterangan' },
                { 
                    data: null,
                    render: function (data, type, row, meta) {
                        var btnGroup = `<button class="btn btn-sm btn-primary editButton"><i class="fas fa-edit"></i></button>`;
                        return btnGroup;
                    }
                }
            ]
        });

        table.on('click', '.editButton', function() {
            var data = table.row( $(this).parents('tr') ).data();
            console.log(data)
            window.location.href = "/form-loyalitas/"+data.id_loyalitas
        });
    });
     
    /*function search(dt, el) {
        if (dt.search() !== el.value) {
            dt.search(el.value).draw();
        }
    }*/
</script>