<div class="row">
	<div class="col-md-3" style="background-color: #FFE7C1;">
		<div class="d-flex flex-sm-column flex-row justify-content-between min-vh-100">
		  	<div class="p-2 w-100">
		  		<section class="mb-4">
					<h5>Pelanggan Kita Kah?</h5>
					<div class="card card-body shadow border-0">  
						
						<video id="" autoplay style="width: 100%" class="rounded"></video>
						<canvas id="overlayCanvas" style="position: absolute; width: 100%;"></canvas>
						
						<div class="d-flex justify-content-around gap-2">
							<button class="btn text-dark w-100" style="background-color: #BA740B; border-radius: 10px;"  id="captureButton">dikenali</button>
							<button class="btn text-dark w-100" style="background-color: #F9C06A; border-radius: 10px;">tambah data</button>
						</div>
					
					</div>
				</section>
				<section class="mb-4">
					<h5>Pesanan : </h5>
					<div class="vstack gap-2 overflow-y-auto" style="height: 40vh">
						<% for(var i=0; i < 11; i++) { %>
							<div class="bg-white p-2 rounded">
								<div class="row g-1">
								    <div class="col-md-2">
								      	<img src="img/cake1.png" class="img-fluid rounded-start" alt="...">
								    </div>
								    <div class="col">
								    	<div class="d-grid">
									      	<h5 class="card-title mb-2">Menu 1</h5>
									      	<div class="block">
										      	<div class="input-group input-group-sm">
										      		<button class="btn btn-sm btn-outline-secondary m-0" type="button"><i class="fa fa-plus"></i></button>
												  	<input type="text" aria-label="First name" class="form-control" value="1">
												  	<button class="btn btn-sm btn-outline-secondary m-0" type="button"><i class="fa fa-minus"></i></button>
												</div>
											</div>
										</div>
								    </div>
								    <div class="col d-flex justify-content-end align-items-center">
								      	<span class="text-sm">Rp.11.111</span>
								    </div>
								</div>
							</div>
							<div class="bg-white p-2 rounded">
								<div class="row g-1">
								    <div class="col-md-2">
								      	<img src="img/cake1.png" class="img-fluid rounded-start" alt="...">
								    </div>
								    <div class="col">
								      	<div class="d-grid">
									      	<h5 class="card-title mb-2">Menu 1</h5>
									      	<div class="block">
										      	<div class="input-group input-group-sm">
										      		<button class="btn btn-sm btn-outline-secondary m-0" type="button"><i class="fa fa-plus"></i></button>
												  	<input type="text" aria-label="First name" class="form-control" value="1">
												  	<button class="btn btn-sm btn-outline-secondary m-0" type="button"><i class="fa fa-minus"></i></button>
												</div>
											</div>
										</div>
								    </div>
								    <div class="col d-flex justify-content-end align-items-center">
								      	<span class="text-sm">Rp.11.111</span>
								    </div>
								</div>
							</div>
						<% } %>
					</div>
				</section>
		  	</div>
		  	<div class="flex-shrink-1 pb-3">
		  		<div class="d-grid gap-2">
					<div class="p-2 rounded" style="background-color: #F9C06A">
						<div class="row g-1">
						    <span class="col small">Total yang harus dibayar:</span>
							<div class="col d-flex justify-content-end align-items-center">
								<h4>Rp. xx.xxx</h4>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-center">
						<button class="btn text-dark" style="background-color: #BA740B; border-radius: 10px;"  id="captureButton">ok bungkus</button>
					</div>
				</div>
		  	</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-sm p-3 min-vh-100">
	            <div class="d-flex mb-4">
					<input type="search" class="form-control" name="" placeholder="cari menu">
				</div>
				<div class="row g-2  overflow-y-auto" style="height: 90vh">
					<% for(var i=0; i < 11; i++) { %>
						<div class="col-md-4">
							<div class="card border-0 shadow">
								<div class="d-flex justify-content-center align-items-center overflow-hidden" style="max-height: 20vh;border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
							  		<img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
							  	</div>
							  	<div class="card-body">
							    	<div class="d-flex gap-2">
							    		<button class="btn btn-secondary"><i class="fa fa-plus"></i></button>
							    		<div class="d-grid">
							    			<span class="h5">apes</span>
							    			<label>Rp.5.000</label>
							    		</div>	
							    	</div>
							  	</div>
							</div>
						</div>
					<% } %>
				</div>
	        </div>
	        <div class="col-sm-auto" style="background-color: #F9C06A;">
	        	<div class="d-flex flex-sm-column flex-row justify-content-between min-vh-100">
	        		<div class="w-100">
	        			<a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
		                    <i class="fa fa-bars fs-3" style="color: #9B6B42"></i>
		                </a>
		                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
		                    <li class="nav-item">
		                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
		                            <i class="fa fa-utensils fs-3" style="color: #9B6B42"></i>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
		                            <i class="fa fa-mug-hot fs-3" style="color: #9B6B42"></i>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
		                            <i class="fa fa-star fs-3" style="color: #9B6B42"></i>
		                        </a>
		                    </li>
		                </ul>
	        		</div>
  					<div class="flex-shrink-1">
  						<ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
  							<li>
		  						<a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
		                            <i class="fa-solid fa-circle-user fs-3" style="color: #9B6B42"></i>
		                        </a>
		                    </li>
		                    <li>
		                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
		                            <i class="fa fa-circle-question fs-3" style="color: #9B6B42"></i>
		                        </a>
		                    </li>
		                </ul>
  					</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
<!--<script defer src="/js/script.js"></script>
<script defer src="/js/face-api.min.js"></script>-->